.cate-show._FNM {
    margin-left: 90px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    -webkit-overflow-scrolling: touch
}

.cate-show .cl-wrap .c-right-classify .c-title._FNM {
    margin-left: 15px;
    line-height: 50px;
    height: 50px;
    border-bottom: .5px solid #e8e8e8
}

.cate-show .cl-wrap .c-right-classify .c-title .title._FNM {
    font-size: 14px;
    color: #40404c;
    font-weight: 600
}

.cate-show .cl-wrap .c-right-classify .c-title .title.active._FNM {
    color: #fe7959
}

.cate-show .cl-wrap .c-right-classify .c-title .more._FNM {
    font-size: 12px;
    color: #a3a3ac;
    float: right;
    position: relative;
    margin-right: 25px
}

.cate-show .cl-wrap .c-right-classify .c-title .more._FNM::after {
    position: absolute;
    right: -9px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #a3a3ac;
    border-right: 1px solid #a3a3ac
}

.cate-show .cl-wrap .c-right-classify .class-data._FNM {
    font-size: 14px;
    color: #72727b;
    padding: 7.5px 0 7.5px 7.5px
}

.cate-show .cl-wrap .c-right-classify .class-data a._FNM {
    display: inline-block
}

.cate-show .cl-wrap .c-right-classify .class-data span._FNM {
    line-height: 20px;
    padding: 7.5px;
    white-space: nowrap;
    display: inline-block
}

.xm-category._Em {
    position: relative;
    background: #fff;
    height: 100%
}
